body {
  margin: auto;
  max-width: 50em;
  font-family:'Verdana', sans-serif;
  background-color: #ffffff;
  color: #1e1e24;
}

.review {
  background: #81ae9d;
  margin: 1em;
  padding: 1em 1em;
  height: 2em;
  color: #1e1e24;
  border-radius: 15px;
  text-align: left;
}