{% extends "layout.html" %}

{% block title %}Taidenäyttelyt{% endblock %}

{% block content %}
<div class="header">
    <h2>Näyttelyt</h2>
</div>

{% for exhibition in exhibitions %}
<div class="exhibition">
    <b><a href="/exhibition/{{ exhibition.id }}">{{ exhibition.title }}</a></b> </br>
    Arvostelija: <a href="/user/{{ exhibition.user_id }}">{{ exhibition.username }}</a>
</div>
{% endfor %}
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endblock %}
