<!DOCTYPE html>
<html>

<head>
  <title>Taidenäyttelyt</title>
</head>

<body>
  <h1>Taidenäyttelyt</h1>
  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/find_review">Etsi arvio</a>
  {% if session.user_id %}
    <a href="/new_review">Uusi arvio</a>
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

  <h2>Arviot</h2>
  <ul>
    {% for review in reviews %}
    <li><a href="/review/{{ review.id }}">{{ review.title }}</a></li>
    {% endfor %}
  </ul>

</body>

</html>