<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Taidenäyttelyt</h1>
  </div>
  <div class="nav">
    <nav>
      <ul>
        <li><a class="nav_box" href="/">Etusivu</a></li>
        <li><a class="nav_box" href="/find_exhibition">Etsi näyttely</a></li>
        {% if session.user_id %}
        <li><a class="nav_box" href="/new_exhibition">Uusi näyttely</a></li>
        <li><a class="nav_box" href="/user/{{ session.user_id }}">Oma profiili</a></li>
        <li><a class="nav_box" href="/logout">Kirjaudu ulos</a></li>
        {% else %}
        <li><a class="nav_box" href="/login">Kirjaudu sisään</a></li>
        <li><a class="nav_box" href="/register">Luo tunnus</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}
  
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %} {% endblock %}

</body>

</html>