<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvio</title>
</head>

<body>
  <h1>Uusi arvio</h1>
  <form action="/create_review" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>Museo tai galleria
        <input type="text" name="place" size="15" />
    </p>
    <p>Ajankohta
        <input type="text" name="time" size="15" />
    </p>
    <p>Paikkakunta
        <input type="text" name="location" size="10" />
    </p>
    <p>
      Arvio: <br />
      <textarea name="description" rows="8" cols="70"></textarea>
    </p>
    <p>Arvosana:</p>
    <p>
        <input type="radio" name="evaluation" value="1" /> *
        <input type="radio" name="evaluation" value="2" /> **
        <input type="radio" name="evaluation" value="3" /> ***
        <input type="radio" name="evaluation" value="4" /> ****
        <input type="radio" name="evaluation" value="5" /> *****
    </p>
    <input type="submit" value="Luo arvio" />
  </form>
</body>

</html>