{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}

{% block content %}
<div class="header">
  <h2>Luo tunnus</h2>
</div>
<div class="comment">
  <form action="/create" method="post">
    <p>
      <label for="username">Tunnus</label>: <br />
      <input type="text" name="username" id="username" minlength="4" maxlength="50" required />
    </p>
    <p>
      <p>Salasanassa tulee olla:</p>
      <ul>
        <li>Pieniä ja isoja kirjaimia</li>
        <li>Numeroita</li>
        <li>Erikoismerkkejä: !#$%&'()*+,\-./\[\]^_`{}~\"]</li>
        <li>8-50 merkkiä</li>
      </ul>
      <label for="password1">Salasana</label>: <br />
      <input type="password" name="password1" id="password1" minlength="8" maxlength="50" required />
    </p>
    <p>
      <label for="password2">Salasana uudestaan</label>: <br />
      <input type="password" name="password2" id="password2" maxlength="50" required/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</div>
<a href="/">Takaisin</a>
{% endblock %}