<!DOCTYPE html>
<html>

<head>
  <title>{{ review.title }}</title>
</head>

<body>
  <h1>{{ review.title }}</h1>
  {% if session.user_id == review.user_id %}
  <p>
    <a href="/edit_review/{{review.id}}">Muokkaa</a>
    <a href="/remove_review/{{review.id}}">Poista</a>
  </p>
  {% endif %}
  <p>
    Museo tai galleria: {{ review.place }}
  </p>
  <p>
    Ajankohta: {{ review.time }}
  </p>
  <p>
    Paikkakunta: {{ review.location }}
  </p>
  <p>
    {{ review.description }}
  </p>
  <p>
    Arvosana: {{ review.evaluation }}
  </p>
  <p>
    Arvostelija: <a href="/user/{{ review.user_id }}">{{ review.username }}</a>
  </p>
  <p>
    <a href="/">Palaa takaisin etusivulle</a>
  </p>
</body>

</html>