{% extends "layout.html" %}

{% block title %}{{ review.title }}{% endblock %}

{% block content %}
<h2>{{ review.title }}</h2>
{% if session.user_id == review.user_id %}
<p>
  <a href="/edit_review/{{ review.id }}">Muokkaa</a>
  <a href="/remove_review/{{ review.id }}">Poista</a>
</p>
{% endif %}
<p>
  <b>Museo tai galleria:</b> {{ review.place }}
</p>
<p>
  <b>Ajankohta:</b> {{ review.time }}
</p>
<p>
  <b>Paikkakunta:</b> {{ review.location }}
</p>
<p>
  <b>Arvosana:</b> {{ review.evaluation }}
</p>
<p>
  <b>Arvostelija:</b> <a href="/user/{{ review.user_id }}">{{ review.username }}</a>
</p>
{% if classes %}
<p>
  <b>Luokittelut:</b>
  <ul>
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
  </ul>
</p>
{% endif %}
<p>
  <b>Arvio:</b> {{ review.description | show_lines }}
</p>

<h3>Kommentit</h3>
<p>
 <b>Kommentoijien keskimääräinen arvosana:</b>  {{ score }}
</p>
{% for comment in comments %}
<p>
  {{ comment.username }} ({{ comment.sent_at }}):
</p>
<p>
  {{ comment.content | show_lines }}
</p>
<p>
  Arvosana: {{ comment.evaluation }}
</p>
{% if comment.user_id == session.user_id %}
<p>
  <a href="/edit_comment/{{ comment.id }}">Muokkaa</a>
  <a href="/remove_comment/{{ comment.id }}">Poista</a>
</p>
{% endif %}
<hr />
{% endfor %}
{% if session.user_id %}
<h4>Uusi kommentti</h4>
<form action="/create_comment" method="post">
  <p>
    <label for="content">Kommentti:</label> <br />
    <textarea name="content" id="content" rows="8" cols="70" maxlength="1000" required></textarea>
  </p>
  <p>Anna oma arvosana:</p>
    <p>
      <input type="radio" name="evaluation" value="1" required /> *
      <input type="radio" name="evaluation" value="2" /> **
      <input type="radio" name="evaluation" value="3" /> ***
      <input type="radio" name="evaluation" value="4" /> ****
      <input type="radio" name="evaluation" value="5" /> *****
    </p>
    <input type="hidden" name="review_id" value = "{{ review.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä kommentti"/>
</form>
<hr />
{% endif %}
{% endblock %}