{% extends "layout.html" %}

{% block title %}Käyttäjä: {{ user.username }}{% endblock %}

{% block content %}

<h2>Käyttäjä: {{ user.username }}</h2>
<p>
  Käyttäjällä on lisännyt tiedot yhteensä {{ exhibitions | count }} näyttelystä.
</p>
<p>
  Käyttäjällä on antanut yhteensä {{ comments | count }} arviota.
</p>
<h3>Näyttelyt</h3>
<ul>
  {% for exhibition in exhibitions %}
  <li><a href="/exhibition/{{ exhibition.id }}">{{ exhibition.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}