{% extends "layout.html" %}

{% block title %}Käyttäjä: {{ user.username }}{% endblock %}

{% block content %}

<h2>Käyttäjä: {{ user.username }}</h2>
<p>
  Käyttäjä on lisännyt tiedot yhteensä {{ exhibitions | count }} näyttelystä.
</p>
<p>
  Käyttäjä on antanut yhteensä {{ comments | count }} arviota.
</p>
<div class="header">
  <h3>Näyttelyt</h3>
</div>
{% for exhibition in exhibitions %}
<div class="exhibition">
  <a href="/exhibition/{{ exhibition.id }}">{{ exhibition.title }}</a>
</div>
{% endfor %}
<div class="header">
  <h3>Arviot</h3>
</div>
{% for comment in comments %}
<div class="comment">
  <a href="/exhibition/{{ comment.exhibition_id }}">{{ comment.title }}</a>
</div>
{% endfor %}
{% endblock %}