{% extends "layout.html" %}

{% block title %}Käyttäjä: {{ user.username }}{% endblock %}

{% block content %}

<h2>Käyttäjä: {{ user.username }}</h2>
<p>
  Käyttäjällä on lisännyt tiedot yhteensä {{ exhibitions | count }} näyttelystä.
</p>
<p>
  Käyttäjällä on antanut yhteensä {{ comments | count }} arviota.
</p>
<div class="header">
  <h3>Näyttelyt</h3>
</div>
<div class="exhibition">
  {% for exhibition in exhibitions %}
  <a href="/exhibition/{{ exhibition.id }}">{{ exhibition.title }}</a>
  {% endfor %}
</div>
<div class="header">
  <h3>Arviot</h3>
</div>
<div class="comment">
  {% for comment in comments %}
  <a href="/exhibition/{{ comment.exhibition_id }}">{{ comment.content }}</a>
  {% endfor %}
</div>
{% endblock %}